*{
    margin: 0;
}
header{
    background-color: rgb(15, 38, 68);
    height: 5em;
    justify-content: center;
    position: sticky;
    top: 0;
    border-bottom: 1.5px solid black;
    box-shadow: black 2px 2px 2px;
    z-index: 999;
}
.menu{
    display: flex;
    justify-content: center;

}
.home{
    text-decoration: none;
    color: rgb(246, 180, 102);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    padding-left: 100px;
    position: relative;
    top: 30px;
    
}
.home:hover{
    color: rgb(255, 0, 0);
    transition: 0.7s;
}
.logo_1{
    height: 130px;
    padding-left: 100px;  
    position: relative;
    top: -25px;  
}
body{
    background: url(https://w.ladicdn.com/s1440x972/5e54ce64f4a6442c5ac64044/bg-20220802051820.jpg);
}
.bu{
    justify-content: center;
    display: block;
    text-align: center;
}
h1{
    color: rgb(246, 180, 102);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration-line: underline;
    line-height: 1.6;
    margin-top: 50px;
}
.menu_1{
    width: 800px;
    margin-top: 100px;
}
.dimsum{
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}
.anhkhungdimsum{
    width: 1000px;
    height: 800px;
}
.noidung_2{
    position: relative;
    top: -750px;
  
}
.logodimsum{
    width: 300px;
}
.mieuta_2{
    justify-content: center;
    height: 1000px;
    width: 700px;
    position: relative;
    top: -700px;
    width: 0.5fr;
    left: 330px;
}
.mieutadimsum{
    width: 850px;
    margin-top: 20px;
    font-size: 17px;
    line-height: 1.6;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.anh_2{
    width: 100%;
    position: relative;
    left: 80px;
}
iframe{
    width: 70%;
    height: 90vh;
    margin-top: 40px;
}